.sell {
	@media only screen and (max-width: 1600px) {
		.header_social {
			display: none;
		}
	}

	@media only screen and (max-width: 1440px) {
	}

	@media only screen and (max-width: 1380px) {
	}

	@media only screen and (max-width: 1280px) {
	}

	@media only screen and (max-width: 1199px) {
	}

	@media only screen and (max-width: 1100px) {
		& {
			padding-bottom: 35px;
		}
		.step-progress-panel {
			margin: 10px 200px;
		}
		.step-content {
			margin: 5% 50px;
		}

		.photos-content {
			.drag-and-drop {
				min-width: 150px;
			}
		}
	}

	@media only screen and (max-width: 1024px) {
	}

	@media only screen and (max-width: 991px) {
		.sell_col:first-child {
			margin-bottom: 90px;
		}

		.photos-content {
			.photo-grid{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
				margin-left: 0;

				.drag-and-drop {
					min-width: unset;
					height: unset;
				}
			}
		}
	}

	@media only screen and (max-width: 959px) {
		& {
			padding-bottom: 25px;
		}
		.step-progress-panel {
			margin: 10px 100px;
		}
		.step-content {
			margin: 5% 30px;
			padding: 20px;
		}
	}

	@media only screen and (max-width: 880px) {
		.search-content {
			.tab-content{
				padding: 20px !important;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		& {
			padding-bottom: 15px;
		}
		.step-progress-panel {
			margin: 10px 0;
		}
		.step-content {
			margin: 15px 5%;
		}

		.search-grid {
			grid-template-columns: repeat(2, 1fr) !important;

			.search-cell {
				padding: 10px !important;
			}
		}
		.preview-content{
			.product-header.elevated {
				box-shadow: none !important;
			}
		}


		.form-actions {
			.button {
				width: 150px;

				&.prev svg {
					left: 5px;
				}

				&.next svg {
					right: 5px;
				}
			}
		}

	}

	@media only screen and (max-width: 767px) {
	}

	@media only screen and (max-width: 575px) {
		.sell_form label {
			font-size: 13px;
		}

		.sell_input {
			height: 41px;
		}
	}

	@media only screen and (max-width: 539px) {
	}

	@media only screen and (max-width: 480px) {
		.shipping-content {
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}

	@media only screen and (max-width: 479px) {
	}

	@media only screen and (max-width: 400px) {
	}
}