@model List<web_app_service.Models.SneakerProduct>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/css/products.css" rel="stylesheet" />
    <link href="~/css/products_responsive.css" rel="stylesheet" />
}


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>@Model.Count</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_grid">
                    @for (var y = 0; y < Model.Count; y++)
                    {
                        <div class="row">
                        @for (var x = 0; x <= 4; x++)
                        {
                            if (y >= Model.Count)
                            {
                                break;
                            }
                            var product = Model[y++];
                            var image = "/images/" + product.Images.FirstOrDefault() ?? string.Empty;
                            var price = $"{product.Price}$";
                            <!-- Product -->
                            <div class="col-sm product">
                                <div class="product_image"><img src=@image alt=""></div>
                                @if (DateTime.Today.Subtract(product.AddedAt).Days < 5)
                                {
                                    <div class="product_extra product_new"><a>New</a></div>
                                }
                                <div class="product_content">
                                    <div class="product_title"><a asp-area="" asp-controller="Shop" asp-action="ProductItem" asp-route-productId=@product.Id>@Html.DisplayFor(modelItem => product.ModelName)</a></div>
                                    <div class="product_price">@price</div>
                                </div>
                            </div>
                        }
                        </div>
                    }
                    <div class="product_pagination">
                        <ul>
                            @for (var y = 0; y < Math.Round(Model.Count / 12m, 0) + 1; y++)
                            {
                                <li class="active"><a href="#">@($"{Convert.ToString(y + 1).PadLeft(2, '0')}. ")</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/products.js"></script>
}

