// COLORS //
@import "../properties/colors";

// FONTS //
@import "../properties/fonts";

// MIXINS
@import "../mixins/mixins";

.hero-parallax {
	height: 100vh;

	.hero-cover {
		height: 100%;
		top: 0;
	}

	.bread {
		font-size: 60px;
		letter-spacing: 5px;
		font-family: Audiowide, sans-serif;
		.with-theme({
			color: @theme-light-primary;
			.text-hover-elevation(@elevation);
		});
	}

	.sub-bread {
		.with-theme({
			color: @theme-light-primary;
			.text-hover-elevation(@elevation);
		});
	}
}

.page-content {
	overflow: hidden;
	border-radius: 0 0 15px 15px;
}

section.about-section {
	position: relative;
	.flex-col();
	height: 100vh;
	overflow: hidden;
	.with-theme({
		background: @primary;
		.elevation(8)
	});

	&.info-section {
		height: auto;
		min-height: 100vh;
		padding-top: 5%;
		padding-bottom: 25%;
		align-items: flex-start;

		.section-content {
			position: relative;
		}

		.figure {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		& .figure::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 300vw;
			height: 400vh;
			margin-left: -150vw;
			z-index: 1;
			.transform-properties(rotate(30deg));
			.transform-origin-properties(50% 0);
			.transition-properties(all 800ms cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;);
			.with-theme({
				background: @hint;
			})
		}

		img.window-asset {
			position: absolute;
			display: block;
			max-width: 650px;
			width: auto;
			height: auto;
			right: 0;
			z-index: 2;
			-webkit-filter: drop-shadow(3px 3px 3px fade(black, 50%));
			filter: drop-shadow(3px 3px 3px fade(black, 50%));
		}

		#creator-window {
			max-width: 350px;
			z-index: 3;
			left: unset;
			bottom: 100%;
			right: 0;
			.transition-properties(right 600ms ease, bottom 600ms ease;);

			&.active {
				right: 1050px;
				bottom: 75px;
			}
		}

		img.hand-asset {
			position: absolute;
			display: block;
			max-width: 600px;
			width: auto;
			height: auto;
			bottom: 10%;
			left: -600px;
			z-index: 6;
			-webkit-filter: drop-shadow(3px 3px 3px fade(black, 50%));
			filter: drop-shadow(3px 3px 3px fade(black, 50%));
			.transition-properties(all 800ms ease);

			&.pushed {
				left: 0;
			}
		}

		&:nth-of-type(4n + 1) {
			align-items: flex-end;

			.figure{
				z-index: 4;
				&::before {
					left: 0;
					margin-left: 100vw;
				}
			}

			.window-asset {
				left: 0;
				right: unset;
			}

			.hand-asset {
				left: unset;
				right: -600px;

				&.pushed {
					right: 0;
					left: unset;
				}
			}
		}
	}

	&.title-section {
		height: 100vh;
		background: @theme-dark-primary;

		.section-content{
			width: 100%;
			align-items: center;

			& * {
				.with-theme({
					color: @theme-light-primary;
					.text-hover-elevation(@elevation);
				});
			}

			h1 {
				font-size: 60px;
				letter-spacing: 5px;
				font-family: Audiowide, sans-serif;
			}

			hr {
				width: 100px;
				height: 3px;
				.with-theme({
					background:  @theme-light-primary;
					.elevation(12)
				})
			}

			h4 {

			}
		}
	}

	&:nth-of-type(4n + 1) {
		.section-content {
			right: 0;
			left: unset;
			//align-items: flex-end;
		}
	}
}

picture.section-cover {
	position: absolute;
	width: 100%;
	z-index: 2;
	left: 0;
	opacity: 1;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.section-content {
	position: absolute;
	.flex-col(@align: flex-start);
	width: 60%;
	height: fit-content;
	z-index: 5;
	justify-content: center;
	min-height: 400px;
	top: 25%;
	left: 0;
	padding: 30px;
	.with-theme({
		//background: @hint;
		//.elevation(8, @elevation);
		border-radius: 10px;
	});

	.info-section:nth-of-type(4n + 1) & {
		align-items: flex-end;
		text-align: right;
	}


	& * {
		.with-theme({
			color: @secondary;
		});
	}

	p {
		font-size: 20px;
		z-index: 2;

		.kicksware {
			font-family: Audiowide, sans-serif;
			font-weight: 500;
		}
	}
}

.section-illustration {
	position: absolute;
	display: block;
	max-width: 40%;
	width: auto;
	height: auto;
	top: 25%;
	right: 0;
	z-index: 2;
}