// COMMON //
@main-color: #1b1b1b;
@background-color: #ffffff;
@hint-color: #f2f4f8;
@active-color: mediumaquamarine;
@detective-color: #eff0f2;
@shadow-color: #6c6a74;

// SELL //
@tabs-base-color: #8e44ad;

// AUTH //
@facebook-color: #4267B2;
@google-red-color: #de5246;