// COMMON //
@main-color: #1B1B1B;
@background-color: #FFFFFF;
@hint-color: #F2F4F8;
@active-color: mediumaquamarine;
@detective-color: #EFF0F2;
@shadow-color: #3C3C3C;

// SELL //
@tabs-base-color: #8e44ad;

// AUTH //
@facebook-color: #4267B2;
@google-red-color: #de5246;

// THEME //
@theme-light-primary: #ffffff;
@theme-light-primary_variant: #ffffff;
@theme-light-secondary: #1b1b1b;
@theme-light-accent: #079b62;
@theme-light-passive: #4d4d4d;
@theme-light-hint: #f2f4f8;
@theme-light-success: #66cdaa;
@theme-light-error: #b00020;
@theme-light-shadow: fade(#3c3c3c, 70%);

@theme-dark-primary: #171f25;
@theme-dark-primary_variant: #171f25;
@theme-dark-secondary: #1eb99e;
@theme-dark-accent: #079b62;
@theme-dark-passive: #ebebeb;
@theme-dark-hint: #1c323b; //232f34
@theme-dark-success: #00a7a2;
@theme-dark-error: #cf6679;
@theme-dark-shadow: fade(#71718f, 20%);


@theme-default-primary: @theme-light-primary;
@theme-default-secondary: @theme-light-secondary;