@model ContactViewModel

@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ContactInfoViewModel[] contactInfo = ViewBag.ContactInfo;
}

@section Styles
{
	<link href="~/styles/css/contact/contact.css" rel="stylesheet"/>
	<link href="~/styles/css/responsive/contact.responsive.css" rel="stylesheet"/>
}

<div class="contact">
	<div class="contact-content">
		<div class="contact-form">
			<div class="section_title">SHARE YOUR THOUGHTS</div>
			<form asp-action="Contact" method="post">
				<div class="row">
					<div class="col-xl-6">
						<label asp-for="FirstName">First Name</label>
						<input type="text" asp-for="FirstName" class="contact-input" required="required">
					</div>
					<div class="col-xl-6">
						<label asp-for="LastName">Last Name</label>
						<input type="text" asp-for="LastName" class="contact-input" required="required">
					</div>
				</div>
				<div>
					<label asp-for="Subject">Subject</label>
					<input type="text" asp-for="Subject" class="contact-input">
				</div>
				<div>
					<label asp-for="Messages">Message</label>
					<textarea asp-for="Messages" class="contact-input contact-textarea" required="required"></textarea>
				</div>
				<div class="button contact_button">
					<a asp-action="Contact">Send Message</a>
				</div>
			</form>
		</div>
		@if (contactInfo != null)
		{
			<div class="contact-info">
				@foreach (var info in contactInfo)
				{
					<section class="contact-info-section">
						<h4>@info.Caption.ToUpper()</h4>
						<ul>
							<li>
								<label>Phone:</label><span>@info.PhoneNumber</span>
							</li>
							<li>
								<label>Email:</label><span>@info.Email</span>
							</li>
						</ul>
					</section>
				}
			</div>
		}
		<div class="contact-map" id="map">
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/scripts/contact/contact.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJp297jnHOtfJz1mNLyH9dF67mDQJp8Fk&callback=mapInit"></script>
}