@using Web.Utils.Helpers

<div class="demo">
	@Html.VectorIconRender("demo.svg")
	<p>Oh, so you've made all the way up to here. Nicely done!</p>
	<p>
		However, this function is unavailable now and we are sorry.
		<br>
		The reason for this is that <span class="kicksware">Kicksware</span> currently working in a demo-mode.
	</p>
	<p>
		Consider visiting <a asp-action="About" asp-controller="About">About page</a> to find out more..
	</p>
</div>
