@using Web.Utils.Helpers
<ul class="social-links">
	<li>
		<a href="https://www.instagram.com/timoth.y.y" target="_blank" class="social-link instagram-link">
			@Html.VectorIconRender("instagram.svg")
		</a>

	</li>
	<li>
		<a href="https://www.facebook.com/timothy.yalugin" target="_blank" class="social-link facebook-link">
			@Html.VectorIconRender("facebook.svg")
		</a>

	</li>
	<li>
		<a href="https://github.com/timoth-y" target="_blank" class="social-link github-link">
			@Html.VectorIconRender("github.svg")
		</a>

	</li>
	<li>
		<a href="https://www.linkedin.com/in/timothy-y/" target="_blank" class="social-link linkedin-link">
			@Html.VectorIconRender("linkedin.svg")
		</a>
	</li>
</ul>