@using Web.Utils.Helpers
@model Core.Entities.Users.User

<div class="modal-dialog modal-lg auth-dialog verify locked" id="reset-content">
	<div class="form-controls">
		<div id="verify-content" class="modal-content">
			<div class="modal-header">
				<p class="login-title">Password Reset</p>
			</div>
			<div class="modal-body">
				@Html.VectorIconRender("reset-password.svg")
				<p id="email-send-msg">A reset password email was sent to <b>@Model.Email</b></p>
				<p>Please check your inbox and follow the instructions to restore access to <strong>Kicksware</strong></p>
				<button class="button login-button auth-button" id="confirm-button">
					<a asp-action="Index" asp-controller="Home">Go back to sneakers</a>
				</button>
			</div>
		</div>
	</div>
</div>
