@model Web.Models.Auth.AuthCommonViewModel

<div class="modal-dialog modal-lg auth-dialog manual single locked" id="reset-content">
	<div class="form-controls">
		<div class="alert-banner"></div>
		<div id="manual-content" class="modal-content common-content">
			<div class="modal-header">
				<p class="login-title">Log in</p>
			</div>
			<div class="modal-body">
				<p>Now type your brand new password just one more time so you'll better remember one</p>
				<form asp-controller="Auth" asp-action="Auth" asp-route-mode="Login" id="auth-form" class="auth-form">
					<div class="auth-input">
						<label for="email-input">Email Address</label>
						<input asp-for="Email" type="email" id="email-input" class="email-input" required="required">
					</div>
					<div class="auth-input">
						<label for="password-input">Password</label>
						<input asp-for="Password" type="password" id="password-input" class="password-input" required="required">
					</div>
					<button type="submit" class="button login-button auth-button" id="auth-btn">
						<span id="auth-btn-caption">Log in</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>