@model Web.Models.Auth.ResetPasswordViewModel
@{
	ViewData["Title"] = "Reset password";
}

@section Styles
{
	<style type="text/css">
		#confirm-button {
			margin-top: 20px;
		}

		.form-controls {
			height: auto !important;
		}

		.auth-input {
			margin-bottom: 10px !important;
		}

	</style>
}

<div class="modal-dialog modal-lg auth-dialog single locked" id="reset-content">
	<div class="form-controls">
		<div class="alert-banner"></div>
		<div class="modal-content common-content">
			<div class="modal-header">
				<p class="login-title">Password Reset</p>
			</div>
			<div class="modal-body">
				<form method="post" asp-action="ResetPassword" class="auth-form" id="auth-form">
					<input asp-for="Code" type="hidden"/>
					<div class="auth-input">
						<label asp-for="Email"></label>
						<input asp-for="Email" class="email-input"/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="auth-input">
						<label asp-for="Password"></label>
						<input asp-for="Password" class="password-input"/>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="auth-input">
						<label asp-for="ConfirmPassword"></label>
						<input asp-for="ConfirmPassword" class="password-input"/>
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
					<button class="button login-button auth-button" type="submit">
						<span>Reset</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">
		let modal = $("#auth-modal");
		modal.find(".auth-dialog").replaceWith($("#reset-content"));
		let form = $(".auth-form");
		form.submit(function(event) {
			event.preventDefault();
			$.post(this.href, form.serialize(), function(response) {
				if (!response["success"]) {
					showAuthAlert("error", response["error"]);
					return;
				}
				resetAuthAlert();
				if (response["content"]) {
					modal.html(response["content"]);
					loginManualInit();
					$(".auth-form button[type=submit]").click(function() {
						if (response["redirectUrl"]){
							window.location.href = response["redirectUrl"]
							return;
						}
						window.location.href = "/home/index";
					})
					return;
				}
				closeDialog();
				window.location.href = "/home/index";
			});
		})
		showDialog();
	</script>
}