// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";

.header-spacer {
	height: 110px;
}

.header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	z-index: 100;
	.with-theme({
		background: @primary_variant;
		//.elevation(4);
	});
	.transition-properties(all 300ms ease);

	&.scrolled {
		height: 70px;
		margin-left: 6px;
		margin-right: 8px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width: calc(~"100% - 14px");
		.with-theme({
			background: @primary_variant;
			.elevation(4, @elevation);
		});

		.logo a {
			font-size: 24px;
		}

		.mobile-search {
			top: 20px;
		}
	}
}

.header_container {
	width: 100%;
	height: 100%;
	z-index: 1;

	&.container {
		max-width: 100%;
	}

	.header_content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 60px;
		padding-right: 60px;
	}

	.logo {

		a {
			font-family: Audiowide, sans-serif;
			font-size: 30px;
			font-weight: 500;
			.with-theme({
				color: @secondary;
				transition: background-size .4s ease-in-out;
			});
			.transition-properties(all 300ms ease);
		}

		&:hover a {
			//TODO logo hover
			.with-theme({
				color: @secondary;
				.text-hover-elevation(@elevation);
			});
		}
	}

	// MAIN NAVIGATION MENU //
	.main_nav {
		width: 580px;
		height: 100%;

		ul {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			height: inherit;
		}

		li {
			position: unset;
			.flex-row(center, flex-end);
			height: 100%;
			padding-bottom: 45px;
			min-width: 12%;
			.with-theme({
				background: transparent;
				color: @passive;
			});
			.transition-properties(all 300ms ease);

			.scrolled & {
				padding-bottom: 25px;
				height: calc(~"100% + 5px");
			}

			a {
				font-size: 18px;
				font-weight: 600;
				color: inherit;
			}

			&.active {
				height: calc(~"50% + 30px");
				padding: 0 8px 20px 8px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 10;
				.with-theme({
					background: @secondary;
					color: @primary;
					.elevation(4, @elevation);
				});

				&:hover {
					height: calc(~"100% - 10px");
				}

				.scrolled &:hover {
					height: calc(~"100% + 15px");
				}

				.scrolled &.expandable:hover {
					transition: none;
					height: calc(~"100% - 10px");
				}
			}
		}

		li.expandable {
			.sub-panel {
				.flex-row(center, flex-start);
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				width: 100%;
				height: auto;
				visibility: hidden;
				opacity: 0;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				.with-theme({
					background: @primary;
					.elevation(4);
				});

				&:before {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 10px;
					top: -10px;
					.with-theme({
						background: @primary;
					});
				}

				&:after {
					content: "";
					position: absolute;
					display: block;
					height: 2px;
					left: 0;
					right: 0;
					.with-theme({
						background: @secondary;
					});
				}

				ul{
					height: auto;

					li {
						height: 65px;
						min-width: unset;
						padding: 0 20px;
						align-items: center;

						.sub-panel{
							display: grid;
							grid-auto-flow: column;
							align-self: center;
						}
					}
				}

				& > .sub-item {
					height: auto;
					padding: 20px 40px;
				}
			}

			.sub-group {
				.flex-col(@align: flex-start);
				padding: 25px 40px 0;

				h3 {
					min-height: 26.5px;
					margin-bottom: 15px;
				}
			}

			.sub-item {
				height: 50px;
				.flex-col(center, center);
				.with-theme({
					background: transparent;
					color: @passive;
				});

				a {
					height: 100%;
					font-size: 18px;
					font-weight: 600;
					color: inherit;
				}
			}

			&:hover > .sub-panel {
				opacity: 1;
				top: calc(~"100%");
				visibility: visible;
			}
		}

		li:not(.active):hover, .sub-item:hover {
			& > a {
				.with-theme({
					color: @secondary;
					text-decoration: underline;
					.text-elevation(@elevation);
					.transition-properties(text-shadow 300ms ease);
				});
			}
		}

		& ul li:hover::after,
		& ul li.active::after {
			.with-theme({
				color: @secondary;
			});
		}

		#more-models {
			.sub-item {
				padding: 20px;
			}
		}
	}

	.mobile-search {
		display: none;
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 30px;
		top: 40px;
		background: transparent;
		z-index: 1;
		.transition-properties(all 300ms ease);

		svg {
			width: 30px;
			height: 30px;
			.with-theme({
				fill: @secondary;
			});
		}

		g:nth-child(2) {
			fill: transparent
		}
	}
}

// ICON NAVIGATION MENU //
.icon-nav {
	height: 100%;
	.transition-properties(height 300ms ease-in-out);

	.expandable {
		ul {
			position: absolute;
			right: -15px;
			top: calc(~"100% + 20px");
			width: 230px;
			text-align: right;
			padding: 20px 25px;
			visibility: hidden;
			opacity: 0;
			border-radius: 10px;
			.transition-properties(all 200ms ease);
			.with-theme({
				background: fade(@primary, 95%);
				.elevation(8, @elevation);
			});

			li:not(:last-child) {
				margin-bottom: 10px;
			}

			li a {
				font-size: 18px;
				font-weight: 600;
				color: #767676;
				padding: 0 5px 2px 5px;
				.transition-properties(all 200ms ease);
			}

			li a:hover {
				.with-theme({
					color: @secondary;
				});
			}
		}

		.sub-panel {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			top: calc(~"100% + 20px");
			text-align: right;
			padding: 20px 25px;
			visibility: hidden;
			opacity: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			.transition-properties(all 200ms ease);
			.with-theme({
				background: @primary;
				//.elevation(8, @elevation);
			});
		}

		&:hover ul,
		&:hover .sub-panel {
			visibility: visible;
			opacity: 1;
			top: calc(~"100%");
		}
	}

	ul {
		width: inherit;
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	& > ul > li {
		display: inline-block;
		position: relative;
	}

	& > ul > li:not(.search):not(.hamburger) {
		margin-right: 40px;
	}

	.search {
		cursor: pointer;

		svg {
			width: 30px;
			height: 30px;

			path {
				transition: all 300ms ease;
			}
		}

		g:nth-child(1) {
			.with-theme({
				fill: @secondary;
			});
		}

		g:nth-child(2) {
			fill: transparent
		}

		&:hover svg {
			-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
			filter: drop-shadow(2px 2px 2px fade(black, 50%));
		}

		&:hover g:nth-child(2) {
			.with-theme({
				fill: @secondary;
			});
		}

	}

	.favorite {
		cursor: pointer;

		svg {
			width: 24px;
			height: 24px;

			path {
				transition: all 400ms ease;
			}
		}

		g:nth-child(2) {
			.with-theme({
				fill: @secondary;
			});
		}

		g:nth-child(1) {
			fill: transparent
		}

		&:hover svg {
			-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
			filter: drop-shadow(2px 2px 2px fade(black, 50%));
		}

		&:hover g {
			.with-theme({
				fill: crimson;
			});
		}

	}

	.account {
		background: transparent;
		cursor: pointer;

		svg {
			width: 23px;
			height: 23px;

			path {
				transition: all 300ms ease;
			}
		}

		g:nth-child(1) {
			.with-theme({
				fill: @secondary;
			});
		}

		g:nth-child(2) {
			fill: transparent;
		}

		&:hover svg {
			-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
			filter: drop-shadow(2px 2px 2px fade(black, 50%));
		}

		&:hover g:nth-child(2) {
			.with-theme({
				fill: @secondary;
			});
		}


		&.expandable ul {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			position: absolute;
			right: -110px;
			top: 40px;
			width: 250px;
			padding: 25px;
			visibility: hidden;
			opacity: 0;
			.transition-properties(all 200ms ease);

			.scrolled & {
				top: 53px;
			}
		}

		&.expandable:hover ul {
			visibility: visible;
			opacity: 1;
		}

		.expandable li {
			opacity: 1;
		}

		.expandable li span {
			position: relative;
			z-index: 1;
		}

		.header-button {
			position: relative;
			display: block;
			cursor: pointer;
			right: 0;
			width: auto;
			height: 25px;
			padding-bottom: 2px;
			padding-top: 3px;
			font-size: 12px;
			font-weight: 700;
			.with-theme({
				color: @secondary;
			});
			.with-theme({
				background: @primary;
			});
			.with-theme({
				border: 2px solid @secondary;
			});

			&:hover span {
				position: relative;
				z-index: 1;
				.with-theme({
					color: @primary;
				});
			}

			&:after {
				.with-theme({
					background: @secondary;
				});
			}
		}

		.header-button-strong {
			position: relative;
			.with-theme({
				color: @primary;
			});
			.with-theme({
				background: @secondary;
			});
			.with-theme({
				border: 2px solid @secondary;
			});
			display: block;
			cursor: pointer;
			right: 0;
			width: auto;
			height: 25px;
			padding-bottom: 2px;
			padding-top: 3px;
			font-size: 12px;
			font-weight: 700;

			&:hover span {
				position: relative;
				z-index: 1;
				.with-theme({
					color: @secondary;
				});
			}

			&:after {
				content: "";
				.with-theme({
					background: @primary;
				});
			}
		}
	}

	.theme {
		cursor: pointer;

		svg {
			width: 25px;
			height: 25px;

			path, circle {
				transition: all 400ms ease;
			}
		}

		&.light svg {
			path {
				.with-theme({
					fill: @secondary;
				});
			}

			circle:first-of-type {
				r: 155;
				.with-theme({
					fill: @primary;
				});
			}

			circle:last-of-type {
				r: 0;
				cx: 150%;
				cy: 0;
				.with-theme({
					fill: @primary;
				});
			}


			&:hover circle:first-of-type {
				fill: #F9D71C;
				-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
				filter: drop-shadow(2px 2px 2px fade(black, 50%));
			}

			&:hover path {
				fill: #FDB813;
				-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
				filter: drop-shadow(2px 2px 2px fade(black, 50%));
			}
		}

		&.dark {
			path {
				.with-theme({
					fill: @primary;
				});
			}

			circle:first-of-type {
				r: 225;
				.with-theme({
					fill: @secondary;
				});
			}

			circle:last-of-type {
				r: 200;
				cx: 80%;
				cy: 40%;
				.with-theme({
					fill: @primary;
				});
			}

			&:hover circle:first-of-type {
				fill: #F4F164;
				-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
				filter: drop-shadow(2px 2px 2px fade(black, 50%));
			}
		}
	}
}