// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";


.search_panel {
	position: absolute;
	width: inherit;
	height: inherit;
	padding-left: inherit;
	padding-right: inherit;
	left: 100%;
	bottom: 0;
	background: transparent;
	z-index: 3;
	.transition-properties(left 500ms cubic-bezier(.155,1.105,.295,1.12););


	&.active {
		left: 0;
		.with-theme({
			background: @primary;
		});
	}

	.search_panel_content {
		display: flex;
		align-items: center;
		height: inherit;

		form {
			position: absolute;
			left: 60px;
			right: 60px;
		}

		svg {
			width: 30px;
			height: 30px;
			position: absolute;
			left: -3px;

			g:nth-child(1) {
				.with-theme({
					fill: @secondary;
				});
			}

			g:nth-child(2) {
				fill: transparent
			}
		}

		input {
			height: 40px;
			width: 100%;
			background: inherit;
			border: none;
			.with-theme({
				border-bottom: 3px solid @secondary;
			});
			border-radius: 0;
			outline: none;
			padding-left: 35px;
			font-size: 25px;
		}

		.close-button {
			position: absolute;
			margin: 0;
			right: 12px;
			top: 0;
			opacity: 0.5;
		}
	}
}