// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";

//TODO social

.menu_social {
	position: absolute;
	right: 30px;
	bottom: 15px;

	ul li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 18px;
		}

		a i {
			font-size: 16px;
			color: #b5b5b5;
			padding: 5px;
			.transition-properties(all 200ms ease);

			&:hover {
				.with-theme({
					color: @secondary;
				});
			}
		}
	}
}

header .menu_social {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
	z-index: 1;
	margin-right: -5px;
}

footer .menu_social {
	width: 30%;
	text-align: right;
}

