@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
6. Contact
*********************************/

.contact
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-bottom: 97px;
}
.section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
.contact_form_container
{
	width: 100%;
	margin-top: 46px;
}
.contact_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.contact_form label
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.contact_input
{
	width: 100%;
	height: 52px;
	background: #f2f4f8;
	border: 2.8px solid #1b1b1b;
	outline: none;
	padding-left: 15px;
}
.contact_textarea
{
	height: 197px;
	padding-top: 15px;
}
.contact_button
{
	position: relative;
	margin-top: 10px;
}
.contact_button span
{
	display: block;
	position: relative;
	color: #1b1b1b;
	z-index: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover span
{
	color: #FFFFFF;
}
.contact_info_section:not(:first-child)
{
	margin-top: 74px;
}
.contact_info_title
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
}
.contact_info_section ul
{
	margin-top: 46px;
}
.contact_info_section ul li
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.contact_info_section ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.contact_info_section ul li span
{
	color: #6c6a74;
	margin-left: 8px;
}
.map_row
{
	margin-top: 98px;
}
.google_map
{
	width: 100%;
	height: 577px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}