@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Oxanium:300,400,500,600,700,800,900');

/*********************************
6. Sell
*********************************/

.sell
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
    padding-bottom: 97px;
}
.page_title
{
	font-size: 30px;
	font-weight: 700;
	color: #1b1b1b;
	margin-left: 14px;
}

.section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
	margin-left: 14px;
	margin-top: 30px;
}
.section_subtitle {
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
	margin-left: 14px;
}
.sell_form_container
{
	width: 100%;
}
.sell_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.sell_form label
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.sell_input
{
	width: 100%;
	height: 50px;
	background: #f2f4f8;
	border: 3px solid #1b1b1b;
	outline: none;
	padding-left: 15px;
}
.sell_textarea
{
	height: 197px;
	padding-top: 15px;
}
.sell_button {
	position: relative;
	margin-top: 10px;
	width: 100%;
	margin-top: 30px;
}
.sell_button span
{
	display: block;
	position: relative;
	color: #1b1b1b;
	z-index: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sell_button:hover span
{
	color: #FFFFFF;
}

.custom-select {
	position: inherit;
	width: 100%;
	height: auto;
	background: #f2f4f8;
	outline: none;
	border: 3px solid #1b1b1b;
	border-radius: 0;
	padding: 0;
}

.custom-select-items {
	position: inherit;
	width: 100%;
	height: auto;
	background: #f2f4f8;
	outline: none;
	border: 3px solid #1b1b1b;
	border-radius: 0;
	padding: 0;
}

.custom-select select {
	display: none;
}

.select-selected {
	
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 13px;
	right: 15px;
	width: 0;
	height: 0;
	border: 3px solid #1b1b1b;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: .5s all ease;
}

.select-selected.select-arrow-active:after {
	border-color: #1b1b1b;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	top: 20px;
}

.select-items div, .select-selected {
	color: #1b1b1b;
	padding: 10px;
	cursor: pointer;
	height: 45px;
}

.select-items div {
	font-weight: 500;
	opacity: 0.75;
}

.select-items div:hover {
	background: #e9e9e9;
}

select-selected:hover {
	
}

.select-items {
	position: absolute;
	border: 3px solid #1b1b1b;
	top: 100%;
	left: -3px;
	right: -3px;
	background: white;
	z-index: 99;
	opacity: .95;
	overflow: auto;
	max-height: 200px;
}

.select-items::-webkit-scrollbar {
	display: none;
}

.select-hide {
	display: none;
}


.autocomplete-input {

}

.autocomplete-items {
	position: absolute;
	border: 3px solid #1b1b1b;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
	margin-left: 15px;
	background: white;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	color: #1b1b1b;
	opacity: 0.75;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.autocomplete-active {
	background-color: teal !important;
	color: #ffffff;
}


.drag-and-drop {
	width: 200px;
	height: 100px;
	border: 3px dashed #1b1b1b;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
	background: #f2f4f8;
}

.drag-and-drop.filled {
	border: 3px solid #1b1b1b;
	background: mediumaquamarine;
}

.drag-and-drop svg {
	position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 15px;
	z-index: 1
}

.drag-and-drop #sneaker-logo-other {
	width: 100%;
	height: 90px;
	text-align: center;
	line-height: 100px;
	color: #ffffff;
	padding-top: 5px;
}

.drag-and-drop input[type="file"] {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	z-index: 2;
}

.drag-and-drop:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	z-index: 0;
	opacity: 0;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.drag-and-drop:hover::after {
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.drag-and-drop path {
	fill: #1b1b1b;
}

.drag-and-drop:hover path {
	fill: #FFFFFF;
}

.drag-and-drop.filled:hover path {
	fill: mediumaquamarine;
}

.sneaker-logo {

}

.images-container {
	display: flex;
	justify-content: space-between;
}