@using System.Reflection
@using Web.Utils.Helpers
@model SneakerProductViewModel

@{
	Layout = "~/Views/Sell/NewProduct.cshtml";
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/styles/css/sell/photos.css"/>
}

<div class="photos-content">
	<div class="drag-and-drop">
		<input asp-for="FormFiles" type="file" accept="image/*" multiple/>
		<svg class="sneaker-logo" xmlns="http://www.w3.org/2000/svg" height="85%" width="85%" viewBox="0 0 512.079 512.079">
			<path d="m177.994 287.758-8.956 35.164h-97.503l-8.93-35.062-49.676 26.586 4.027 42.851 65.393 19.022 11.5 28.747h52.881l11.519-28.748 65.369-19.019 4.068-43.288z"/><path d="m167.028 435.066h-93.489l-13.611-34.026-39.953-11.622 1.894 20.151c2.308 24.563 13.626 47.238 31.87 63.848 18.243 16.608 41.877 25.756 66.549 25.756 24.671 0 48.306-9.147 66.549-25.756s29.562-39.284 31.87-63.848l1.893-20.149-39.938 11.621z"/><path d="m75.023 107.758h90.527l16.631 148.284 48.542 25.646 9.106-96.898c3.126-33.268-3.64-66.378-19.568-95.752s-39.986-53.109-69.573-68.638c-9.34-4.902-19.853-7.494-30.401-7.494s-21.061 2.592-30.402 7.494c-29.587 15.529-53.644 39.263-69.573 68.637s-22.695 62.484-19.568 95.752l9.14 97.259 48.502-25.957z"/><path d="m145.096 194.545h-49.618l-3.005 26.787h55.627z"/><path d="m138.727 137.758h-36.881l-3.004 26.787h42.889z"/><path d="m89.109 251.332-1.483 13.217 7.226 28.373h50.869l7.226-28.373-1.482-13.217z"/><path d="m416.602 194.545h-49.619l-3.004 26.787h55.627z"/><path d="m365.355 405.066h52.881l11.519-28.748 65.369-19.019 4.068-43.288-49.692-26.253-8.956 35.164h-97.503l-8.93-35.062-49.677 26.586 4.027 42.851 65.394 19.022z"/><path d="m410.233 137.758h-36.881l-3.004 26.787h42.889z"/><path d="m438.534 435.066h-93.489l-13.611-34.026-39.953-11.622 1.894 20.151c2.308 24.563 13.626 47.238 31.87 63.848 18.243 16.608 41.877 25.756 66.549 25.756 24.671 0 48.306-9.147 66.549-25.756s29.562-39.284 31.87-63.848l1.893-20.149-39.938 11.621z"/><path d="m346.529 107.758h90.527l16.631 148.284 48.542 25.646 9.106-96.898c3.126-33.268-3.64-66.378-19.568-95.752s-39.986-53.108-69.573-68.638c-9.34-4.901-19.853-7.493-30.401-7.493s-21.061 2.592-30.402 7.494c-29.587 15.528-53.645 39.263-69.573 68.637s-22.695 62.484-19.568 95.752l9.14 97.259 48.502-25.957z"/><path d="m360.614 251.332-1.482 13.217 7.226 28.373h50.869l7.226-28.373-1.482-13.217z"/>
		</svg>
		<span asp-validation-for="FormFiles"></span>
	</div>
	<div class="photo-grid">
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 -99 512.34075 512">
				<g>
					<path d="m355.757812 47.476562-7.132812 9.566407c-1.527344 2.035156-2.136719 4.617187-1.679688 7.125.453126 2.507812 1.9375 4.707031 4.085938 6.074219l77.886719 49.566406c1.945312 1.25 4.292969 1.710937 6.566406 1.289062 35.976563-6.703125 49.820313-12.425781 52.113281-14.511718.371094-.269532.761719-.507813 1.171875-.710938l-2.746093-13.578125-119.550782-47.800781c-3.835937-1.542969-8.226562-.320313-10.714844 2.980468zm0 0"/><path d="m133.558594 201.625c-31.269532 8.421875-58.515625 15.542969-87.148438 21.578125-2.160156.464844-4.371094.914063-6.59375 1.289063-5.679687.808593-11.25 2.257812-16.601562 4.316406-2.609375 1.226562-5.003906 2.863281-7.097656 4.84375 38.550781 4.980468 77.382812 7.425781 116.253906 7.316406-2.03125-13.074219-1.628906-26.414062 1.1875-39.34375zm0 0"/><path d="m303.1875 181.703125c0-.089844.136719-.128906.183594-.210937-5.464844-8.726563-5.621094-19.765626-.402344-28.644532 1.46875-2.917968 4.382812-4.832031 7.648438-5.019531 3.261718-.1875 6.378906 1.378906 8.171874 4.113281 1.796876 2.734375 1.996094 6.214844.523438 9.136719-1.085938 2.148437-3.308594 7.476563-.574219 10.542969 3.457031 3.894531 28.1875 20.167968 176.511719-33.097656l-2.742188-13.78125c-17.28125 6.867187-35.304687 11.683593-53.707031 14.347656-6.820312 1.277344-13.875-.09375-19.71875-3.839844l-77.90625-49.609375c-6.445312-4.101563-10.886719-10.707031-12.257812-18.222656-1.367188-7.515625.457031-15.265625 5.042969-21.375l7.175781-9.5625c7.457031-9.902344 20.613281-13.589844 32.128906-9.007813l109.046875 43.613282-3.519531-21.101563c-1.15625-7.042969-6.488281-12.667969-13.457031-14.199219l-64.121094-14.253906c-.8125-.179688-1.609375-.414062-2.394532-.695312l-52.570312-19.722657c-7.007812-2.644531-14.878906.445313-18.214844 7.152344l-17.304687 34.632813-8.503907 35.65625c-.472656 2.28125-1.242187 4.492187-2.296874 6.574218l-6.554688 13.117188c1.753906 6.089844 6.410156 10.910156 12.433594 12.867187 3.105468 1.117188 5.367187 3.820313 5.917968 7.074219.550782 3.253906-.691406 6.550781-3.253906 8.628906s-6.046875 2.613282-9.117187 1.402344c-6.101563-2.21875-11.550781-5.929688-15.855469-10.789062-1.773438 3.050781-4.121094 5.734374-6.910156 7.898437l-1.574219 1.179687c1.839844 5.300782 5.6875 9.667969 10.71875 12.160157 4.324219 2.605469 5.722656 8.222656 3.121094 12.550781-2.605469 4.324219-8.222657 5.722656-12.550781 3.121094-6.867188-3.867188-12.527344-9.566406-16.355469-16.457032l-12.304688 9.222657c2.4375 4.621093 5.828125 8.675781 9.945313 11.886719 2.472656 2.140624 3.613281 5.433593 3 8.640624-.617188 3.210938-2.898438 5.847657-5.984375 6.917969-3.085938 1.070313-6.511719.414063-8.984375-1.722656-5.636719-4.597656-10.335938-10.238281-13.832032-16.613281l-11.929687 5.96875c.707031 4.65625 2.214844 9.15625 4.460937 13.292968 1.492188 2.925782 1.296876 6.425782-.503906 9.171876-1.804687 2.742187-4.9375 4.3125-8.214844 4.105468-3.277343-.207031-6.191406-2.152344-7.636718-5.101562-2.113282-4.152344-3.804688-8.507813-5.039063-13.003906l-19.640625 9.820312c.707032 4.65625 2.21875 9.15625 4.464844 13.292969 1.488281 2.925781 1.296875 6.425781-.507812 9.171875-1.800782 2.746094-4.9375 4.3125-8.214844 4.105468-3.277344-.207031-6.191406-2.152343-7.636719-5.101562-2.113281-4.152344-3.800781-8.507812-5.035156-13l-12.726563 6.398438c-3.878906 16.164062-6.136718 36.671874-2.398437 45.511718 119.242187-3.984375 151.679687-58.578125 151.957031-59.144531zm0 0"/><path d="m511.753906 229.519531-6.464844-38.808593c-14.289062 4.988281-28.914062 8.960937-43.765624 11.882812-12.472657 2.257812-24.710938 5.640625-36.574219 10.105469-7.632813 3.8125-17.011719 35.96875-21.53125 64.914062h108.867187v-36.542969c.160156-3.859374-.019531-7.722656-.53125-11.550781zm0 0"/><path d="m311.140625 277.640625h73.773437c3.007813-20.820313 12.25-71.515625 31.855469-81.371094 13.160157-5.230469 26.820313-9.109375 40.765625-11.585937 15.160156-2.839844 30.042969-7.007813 44.472656-12.453125l-3.136718-15.6875c-71.828125 25.664062-123.941406 38.574219-156.800782 38.574219-8.027343.195312-16.035156-.894532-23.714843-3.226563-5.898438 9.222656-46.363281 64.390625-170.800781 67.273437-.324219.082032-.652344.144532-.984376.191407-.585937 0-3.109374 0-7.003906 0-.730468 0-1.410156 0-2.140625 0-.082031-.015625-.164062-.03125-.246093-.054688-26.085938-.230469-98.917969-1.519531-129.765626-8.789062-.710937-.214844-1.394531-.519531-2.027343-.914063-2.429688 6.09375-4.070313 12.46875-4.894531 18.972656 1.015624.007813 2.023437.183594 2.980468.519532 2.515625.652344 37.953125 8.550781 307.667969 8.550781zm0 0"/><path d="m0 286.964844c.757812 4.664062 3.082031 6.664062 10.441406 10.488281 25.492188 11.605469 53.265625 17.332031 81.269532 16.757813h405.78125c5.605468.019531 10.734374-3.152344 13.226562-8.171876.53125-1.117187 1.003906-2.261718 1.410156-3.429687l.15625-.421875v-6.261719h-201.144531c-200.3125 0-290.578125-4.433593-311.140625-8.960937zm0 0"/>
				</g>
			</svg>
			<span asp-validation-for="FormFiles[1]"></span>
		</div>
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 -99 512.34075 512">
				<g transform="matrix(-1 0 0 1 512.341 0)">
					<path d="m355.757812 47.476562-7.132812 9.566407c-1.527344 2.035156-2.136719 4.617187-1.679688 7.125.453126 2.507812 1.9375 4.707031 4.085938 6.074219l77.886719 49.566406c1.945312 1.25 4.292969 1.710937 6.566406 1.289062 35.976563-6.703125 49.820313-12.425781 52.113281-14.511718.371094-.269532.761719-.507813 1.171875-.710938l-2.746093-13.578125-119.550782-47.800781c-3.835937-1.542969-8.226562-.320313-10.714844 2.980468zm0 0" data-original="#000000" class="active-path" fill="#000000"/><path d="m133.558594 201.625c-31.269532 8.421875-58.515625 15.542969-87.148438 21.578125-2.160156.464844-4.371094.914063-6.59375 1.289063-5.679687.808593-11.25 2.257812-16.601562 4.316406-2.609375 1.226562-5.003906 2.863281-7.097656 4.84375 38.550781 4.980468 77.382812 7.425781 116.253906 7.316406-2.03125-13.074219-1.628906-26.414062 1.1875-39.34375zm0 0" data-original="#000000" class="active-path" fill="#000000"/><path d="m303.1875 181.703125c0-.089844.136719-.128906.183594-.210937-5.464844-8.726563-5.621094-19.765626-.402344-28.644532 1.46875-2.917968 4.382812-4.832031 7.648438-5.019531 3.261718-.1875 6.378906 1.378906 8.171874 4.113281 1.796876 2.734375 1.996094 6.214844.523438 9.136719-1.085938 2.148437-3.308594 7.476563-.574219 10.542969 3.457031 3.894531 28.1875 20.167968 176.511719-33.097656l-2.742188-13.78125c-17.28125 6.867187-35.304687 11.683593-53.707031 14.347656-6.820312 1.277344-13.875-.09375-19.71875-3.839844l-77.90625-49.609375c-6.445312-4.101563-10.886719-10.707031-12.257812-18.222656-1.367188-7.515625.457031-15.265625 5.042969-21.375l7.175781-9.5625c7.457031-9.902344 20.613281-13.589844 32.128906-9.007813l109.046875 43.613282-3.519531-21.101563c-1.15625-7.042969-6.488281-12.667969-13.457031-14.199219l-64.121094-14.253906c-.8125-.179688-1.609375-.414062-2.394532-.695312l-52.570312-19.722657c-7.007812-2.644531-14.878906.445313-18.214844 7.152344l-17.304687 34.632813-8.503907 35.65625c-.472656 2.28125-1.242187 4.492187-2.296874 6.574218l-6.554688 13.117188c1.753906 6.089844 6.410156 10.910156 12.433594 12.867187 3.105468 1.117188 5.367187 3.820313 5.917968 7.074219.550782 3.253906-.691406 6.550781-3.253906 8.628906s-6.046875 2.613282-9.117187 1.402344c-6.101563-2.21875-11.550781-5.929688-15.855469-10.789062-1.773438 3.050781-4.121094 5.734374-6.910156 7.898437l-1.574219 1.179687c1.839844 5.300782 5.6875 9.667969 10.71875 12.160157 4.324219 2.605469 5.722656 8.222656 3.121094 12.550781-2.605469 4.324219-8.222657 5.722656-12.550781 3.121094-6.867188-3.867188-12.527344-9.566406-16.355469-16.457032l-12.304688 9.222657c2.4375 4.621093 5.828125 8.675781 9.945313 11.886719 2.472656 2.140624 3.613281 5.433593 3 8.640624-.617188 3.210938-2.898438 5.847657-5.984375 6.917969-3.085938 1.070313-6.511719.414063-8.984375-1.722656-5.636719-4.597656-10.335938-10.238281-13.832032-16.613281l-11.929687 5.96875c.707031 4.65625 2.214844 9.15625 4.460937 13.292968 1.492188 2.925782 1.296876 6.425782-.503906 9.171876-1.804687 2.742187-4.9375 4.3125-8.214844 4.105468-3.277343-.207031-6.191406-2.152344-7.636718-5.101562-2.113282-4.152344-3.804688-8.507813-5.039063-13.003906l-19.640625 9.820312c.707032 4.65625 2.21875 9.15625 4.464844 13.292969 1.488281 2.925781 1.296875 6.425781-.507812 9.171875-1.800782 2.746094-4.9375 4.3125-8.214844 4.105468-3.277344-.207031-6.191406-2.152343-7.636719-5.101562-2.113281-4.152344-3.800781-8.507812-5.035156-13l-12.726563 6.398438c-3.878906 16.164062-6.136718 36.671874-2.398437 45.511718 119.242187-3.984375 151.679687-58.578125 151.957031-59.144531zm0 0" data-original="#000000" class="active-path" fill="#000000"/><path d="m511.753906 229.519531-6.464844-38.808593c-14.289062 4.988281-28.914062 8.960937-43.765624 11.882812-12.472657 2.257812-24.710938 5.640625-36.574219 10.105469-7.632813 3.8125-17.011719 35.96875-21.53125 64.914062h108.867187v-36.542969c.160156-3.859374-.019531-7.722656-.53125-11.550781zm0 0" data-original="#000000" class="active-path" fill="#000000"/><path d="m311.140625 277.640625h73.773437c3.007813-20.820313 12.25-71.515625 31.855469-81.371094 13.160157-5.230469 26.820313-9.109375 40.765625-11.585937 15.160156-2.839844 30.042969-7.007813 44.472656-12.453125l-3.136718-15.6875c-71.828125 25.664062-123.941406 38.574219-156.800782 38.574219-8.027343.195312-16.035156-.894532-23.714843-3.226563-5.898438 9.222656-46.363281 64.390625-170.800781 67.273437-.324219.082032-.652344.144532-.984376.191407-.585937 0-3.109374 0-7.003906 0-.730468 0-1.410156 0-2.140625 0-.082031-.015625-.164062-.03125-.246093-.054688-26.085938-.230469-98.917969-1.519531-129.765626-8.789062-.710937-.214844-1.394531-.519531-2.027343-.914063-2.429688 6.09375-4.070313 12.46875-4.894531 18.972656 1.015624.007813 2.023437.183594 2.980468.519532 2.515625.652344 37.953125 8.550781 307.667969 8.550781zm0 0" data-original="#000000" class="active-path" fill="#000000"/><path d="m0 286.964844c.757812 4.664062 3.082031 6.664062 10.441406 10.488281 25.492188 11.605469 53.265625 17.332031 81.269532 16.757813h405.78125c5.605468.019531 10.734374-3.152344 13.226562-8.171876.53125-1.117187 1.003906-2.261718 1.410156-3.429687l.15625-.421875v-6.261719h-201.144531c-200.3125 0-290.578125-4.433593-311.140625-8.960937zm0 0" data-original="#000000" class="active-path" fill="#000000"/>
				</g>
			</svg>
			<span asp-validation-for="FormFiles[2]"></span>
		</div>
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			@Html.VectorIconRender("box.svg")
			<span asp-validation-for="FormFiles[3]"></span>
		</div>
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			@Html.VectorIconRender("tag.svg")
			<span asp-validation-for="FormFiles[4]"></span>
		</div>
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			@Html.VectorIconRender("others.svg")
			<span asp-validation-for="FormFiles[5]"></span>
		</div>
		<div class="drag-and-drop">
			<input asp-for="FormFiles" type="file" accept="image/*"/>
			@Html.VectorIconRender("others.svg")
			<span asp-validation-for="FormFiles[6]"></span>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(".drag-and-drop input").on("change", function (event) {
			event.target.parentElement.classList.add("filled");
		});

		if (isMobile()) {
			$(".drag-and-drop:first-child").prependTo($(".photo-grid")).css("padding", "25px");
		}
	</script>
}