@using Core.Reference
@using Web.Utils.Helpers
@{
	Layout = "~/Views/Sell/NewProduct.cshtml";
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/styles/css/sell/search.css"/>
}


<div class="search-content">
	<ul class="tabs-control" role="tablist">
		<li>
			<input type="radio" name="tabs" id="tab1" checked/>
			<label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Search</label>
			<div id="tab-content1" class="tab-content search-tab" role="tabpanel" aria-hidden="false">
				<div class="search-control">
					@Html.VectorIconRender("search.svg")
					<input type="search" id="auto-search" name="prefix">
				</div>
				<div class="search-results">
					<div class="search-grid">
					</div>
					<div class="no-result-content">
						<span class="no-result-title">NOTHING HERE</span>
						@Html.VectorIconRender("sneaker_not_found.svg")
						<span class="no-result-subtitle">WE COULDN'T FIND ANY SNEAKERS MATCHING YOUR SEARCH</span>
						<span class="no-result-subtitle">PLEASE TRY SEARCH AGAIN OR START FROM SCRATCH</span>
					</div>
					<div class="loading-overlay">
						<div class="line-loader">
							<div class="loader-line a-loop"></div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li>
			<input type="radio" name="tabs" id="tab2"/>
			<label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Photo</label>
			<div id="tab-content2" class="tab-content photo-tab" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
				@*TODO Image Search*@
			</div>
		</li>
	</ul>
</div>

@section Scripts
{
	<script src="~/scripts/sell/search.js"></script>
	<script type="text/javascript">
		initCustomDropDown();
		initAutoSearch("@Url.Action("SearchAuto")");
	</script>
}