// COLORS //
@import "../properties/colors";

// FONTS //
@import "../properties/fonts";

// MIXINS
@import "../mixins/mixins";

.hero-parallax .hero-cover {
	top: -100%;
}

.products {
	width: 100%;
	background: transparent;
	z-index: 2;

	.products-content {
		.flex-col();
		max-width: 100%;
		padding: 0 100px;
	}

	/*----FILTER SUMMARY----*/
	.filter-summary{
		.flex-row();
		width: 100%;
		margin-bottom: 20px;
		padding: 10px 0;

		.toggle_menu {
			.flex-row(@justify: space-evenly);
			position: relative;
			width: 150px;
			height: 40px;

			span {
				display: block;
				position: relative;
				font-weight: 500;
				z-index: 2;
				.transform-properties(all 200ms ease);
				.with-theme({
					color: @secondary;
				});
			}

			svg {
				width: 20px;
				height: 20px;
				.with-theme({
					fill: @secondary;
				});
			}

			&:hover {
				span {
					.with-theme({
						color: @primary;
					});
				}

				svg {
					z-index: 1;
					.with-theme({
						fill: @primary;
					});
				}
			}
		}

		.count{
			span {
				font-weight: 600;
				.with-theme({
					color: fade(@secondary, 50%);
				})
			}
		}

		.sort_type{
			width: 200px;
			height: 40px;
			font-weight: 500;

			.select-selected {
				padding: 5px 21px;

				&::after {
					top: 7px;
				}

				&.select-arrow-active:after{
					top: 14px;
				}
			}

			.select-items div {
				padding: 0 10px;
				line-height: 40px;
			}
		}
	}

	/*----FILTER MENU----*/

	.accordion.filter-menu {
		margin: auto;
		width: 400px;

		input[type=radio] {
			display: none;
		}



		.menu-panel {
			position: relative;
			transition: all 200ms ease-in-out;
			.with-theme({
				background: @primary;
			});

			&::before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				pointer-events: none;
				.with-theme({
					.elevation(4, @elevation);
				});
			}
		}

		header.menu-panel {
			z-index: 100;
			cursor: initial;
			.with-theme({
				background: @secondary;
				.elevation(4, @elevation);
			});
		}
	}


	div .menu-section-title {
		margin: 0;
		font-weight: normal;
		font-size: 16pt;
		color: white;
		cursor: initial;
	}
	.menu-section-title {
		width: calc(100% - 40px);
		height: 64px;
		line-height: 64px;
		padding: 0 20px;
		display: inline-block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.menu-section-content {
		width: calc(100% - 40px);
		padding: 30px 20px;
		font-size: 11pt;
		color: rgba(0,0,0,.54);
		display: none;
	}
	.menu-section-close {
		position: absolute;
		height: 64px;
		width: 100%;
		top: 0;
		left: 0;
		cursor: pointer;
		display: none;
	}
	input:checked + .menu-section {
		height: auto;
		margin: 16px 0;
		menu-section-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	}
	input:checked + .menu-section .menu-section-title {
		border-bottom: 1px solid rgba(0,0,0,.18);
	}
	input:checked + .menu-section .menu-section-content,
	input:checked + .menu-section .menu-section-close {
		display: inline-block;
	}
	.arrows section .menu-section-title {
		padding-left: 44px;
		width: calc(100% - 64px);
	}
	.arrows section .menu-section-title:before {
		position: absolute;
		display: block;
		content: '\203a';
		font-size: 18pt;
		left: 20px;
		top: -2px;
		transition: transform .15s ease-in-out;
		color: rgba(0,0,0,.54);
	}
	input:checked + section.menu-section .menu-section-title:before {
		transform: rotate(90deg);
	}


	/*----GRID VIEW----*/
	.product-grid {
		width: 100%;
		display: grid;
		.with-theme({
			border-top: 3px solid @secondary;
			border-left: 3px solid @secondary;
		});
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 1fr;

		.product-cell {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			.with-theme({
				background: @hint;
				border-bottom: 3px solid @secondary;
				border-right: 3px solid @secondary;
				.elevation(2, @elevation);
			});
			z-index: 0;
			cursor: pointer;

			&:hover,
			&.selected {
				z-index: 1;
				padding: 11px;
				outline: none;
				.with-theme({
					background: @hint;
					box-shadow: 4px 4px 5px -1px @secondary;
					.elevation(9, @elevation);
				});
			}

			&:hover:before,
			&.selected:before {
				position: absolute;
				content: "";
				z-index: 2;
				width: calc(~"100% + 18px");
				height: calc(~"100% + 18px");
				top: -9px;
				left: -9px;
				.with-theme({
					background: @hint;
					border: 3px solid @secondary;
					.elevation(9, @elevation);
				});
			}

			&:hover *,
			&.selected * {
				z-index: 3;
			}

			&.selected {
				z-index: 2;
			}

			.thumb {
				display: flex;
				justify-content: center;
				align-content: center;

				img {
					width: 70%;
				}
			}


			.info {
				display: flex;
				flex-direction: column;
				height: 60px;
				padding-top: 5px;
				.with-theme({
					border-top: 2px solid @secondary;
				});

				div {
					text-align: start;
					&.brand-title a{

						font-size: 12px;
						.with-theme({
							color: @secondary;
						});
					}

					&.model-title a{
						font-size: 16px;
						font-weight: 600;
						.with-theme({
							color: @secondary;
						});
					}

					&.price {
						font-size: 12px;
						font-weight: 600;
						.with-theme({
							color: @secondary;
						});
					}
				}

				.button {
					position: absolute;
					margin: 0;
					top: 15px;
					right: 0;
					width: 80px;
					height: 30px;
					border-width: 2px;

					& span {
						display: inherit;
						align-items: center;
						font-size: 13px;
						height: 28px;
					}

					& svg {
						position: relative;
						width: 18px;
						height: 18px;
					}
				}
			}

			&.selected .button {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}
	}


	.product_pagination {
		width: 100%;
		margin-top: 3px;

		ul {
			li {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 3px;
				}

				a {
					font-size: 14px;
					font-weight: 400;
					color: #6C6A74;
					.transition-properties(all 200ms ease);

					li.active &,
					li:hover a {
						.with-theme({
							color: @secondary;
						});
					}
				}
			}
		}
	}
}