@using Web.Utils.Helpers
@using Microsoft.AspNetCore.Identity
@using Core.Entities.Users
@inject SignInManager<User> SignInManager

<nav class="icon-nav">
	<ul>
		<li class="theme dark">
			@Html.VectorIconRender("theme.svg") @*TODO Nastya sunny easter egg*@
		</li>
		<li class="account expandable">
			@Html.VectorIconRender("user.svg")
			@if (!SignInManager.IsSignedIn(User))
			{
				<ul>
					<li class="button header-button" id="login-btn">
						<span>Login</span>
					</li>
					<li class="button header-button-strong" id="sign-up-btn">
						<span>Sing Up</span>
					</li>
				</ul>
			}
		</li>
		<li class="favorite">
			<a asp-controller="Profile" asp-action="Profile" asp-route-mode="favorite">
				@Html.VectorIconRender("favorite.svg")
			</a>
		</li>
		<li class="search">
			@Html.VectorIconRender("search.svg")
		</li>
	</ul>
</nav>