@using Web.Utils.Helpers
@using Core.Entities.Users
@using Microsoft.AspNetCore.Identity


<div class="search-panel">
	<div class="search-panel-content">
		<div class="search-header">
			<form asp-controller="Search" asp-action="Search" method="get">
				@Html.VectorIconRender("search.svg")
				<input type="search" class="search_input" required="required">
				<button type="button" class="close-button"></button>
			</form>
		</div>
		<div class="search-results">
			@{
				await Html.RenderPartialAsync("Header/_SearchResultsPartial", new List<SearchResultViewModel>());
			}
		</div>
	</div>
</div>