@using Core.Services
@using Infrastructure.Usecase.Models
@using Core.Entities.References
@model Core.Entities.Users.User
@inject ISneakerReferenceService Service

<div class="row section-content" id="buying-content">
	<h3>PURCHASED SNEAKERS</h3>
	@{
		var purchasedSneakers = new FilteredModel<SneakerReference>(Service);
		await purchasedSneakers.FetchPageAsync(1);
		await Html.RenderPartialAsync("../Shop/Partial/ReferencesPartial", purchasedSneakers);
	}
</div>
