@using Core.Services
@using Infrastructure.Usecase.Models
@using Core.Entities.References
@using Core.Model.Parameters
@model Core.Entities.Users.User
@inject ISneakerReferenceService Service

<div class="row section-content" id="favorite-content">
	<h3>FAVORITE SNEAKERS</h3>
	@{
		if (Model?.UniqueID != null)
		{
			var favoriteSneakers = new FilteredModel<SneakerReference>(Service);
			favoriteSneakers.AddHiddenFilterGroup("uniqueid").AssignParameters(Model.Liked ?? new[] {"-"});
			await favoriteSneakers.FetchPageAsync(1);
			await Html.RenderPartialAsync("../Shop/Partial/ReferencesPartial", favoriteSneakers);
		}
	}
</div>