@using Web.Utils.Helpers
@model Core.Entities.Users.User

<form asp-action="Account" class="profile-form section-content" id="payment-content" autocomplete="off">
	<div class="row">
		<div class="col">
			<h3>PAYMENT METHOD</h3>
			<div class="row my-3">
				<label asp-for="PaymentInfo.CardNumber">Card Number</label>
				<input asp-for="PaymentInfo.CardNumber" type="text" class="profile-input" required="required" autofill="off">
				<span asp-validation-for="PaymentInfo.CardNumber" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.Expires">Expires</label>
				<input asp-for="PaymentInfo.Expires" type="month" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.Expires" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.CVV">CVV</label>
				<input asp-for="PaymentInfo.CVV" type="tel" inputmode="numeric" pattern="[0-9]" maxlength="3" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.Expires" class="text-danger"></span>
			</div>
		</div>
		<div class="col">
			<h3>BILLING INFO</h3>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.Country">Country</label>
				<input asp-for="PaymentInfo.BillingInfo.Country" type="text" class="profile-input" required="required" autofill="off">
				<span asp-validation-for="PaymentInfo.BillingInfo.Country" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.City">City</label>
				<input asp-for="PaymentInfo.BillingInfo.City" type="text" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.BillingInfo.City" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.Address">Address</label>
				<input asp-for="PaymentInfo.BillingInfo.Address" type="date" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.BillingInfo.Address" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.Address2">Address2</label>
				<input asp-for="PaymentInfo.BillingInfo.Address2" type="text" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.BillingInfo.Address2" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.Region">State/Region/Province</label>
				<input asp-for="PaymentInfo.BillingInfo.Region" type="text" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.BillingInfo.Region" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<label asp-for="PaymentInfo.BillingInfo.PostalCode">Zip/Postal Code</label>
				<input asp-for="PaymentInfo.BillingInfo.PostalCode" type="text" class="profile-input" required="required">
				<span asp-validation-for="PaymentInfo.BillingInfo.PostalCode" class="text-danger"></span>
			</div>
		</div>
	</div>
	<button class="button" type="submit">
		@Html.VectorIconRender("save.svg")
		<span>SAVE CHANGES</span>
	</button>
</form>