@using Web.Utils.Helpers
@using Core.Entities.Users
@model Core.Entities.Users.User

<form asp-action="Account" class="profile-form section-content" id="settings-content" autocomplete="off">
	<div class="row">
		<div class="col">
			<h3>SETTINGS</h3>
			<div class="row my-3">
				<label as-for="Settings.Theme">Theme</label>
				<div class="list-select">
					<select asp-for="Settings.Theme" asp-items="@Html.GetEnumSelectList<Theme>()" class="dropdown_item_select" id="theme-select">
						<option disabled>Theme</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col">
		</div>
	</div>
	<button class="button" type="submit">
		@Html.VectorIconRender("save.svg")
		<span>SAVE CHANGES</span>
	</button>
	@foreach (var hidden in Html.HiddenForPartialModel(Model,
			nameof(Model.Username),nameof(Model.FirstName), nameof(Model.LastName),
			nameof(Model.Email), nameof(Model.PhoneNumber)))
			{
				@hidden
			}
</form>