// COLORS //
@import "../properties/colors";

// CROSS-BROWSER //
.transition-properties(...) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform-properties(...) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-ms-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}

.transfosition-properties(@transform, @transition) {
	.transform-properties(@transform);
	-webkit-transition: ~`"@{transition}".replace(/[\[\]]|\,\sX/g, '').replace('transform', '-webkit-transition')`;
	-moz-transition: ~`"@{transition}".replace(/[\[\]]|\,\sX/g, '').replace('transform', '-moz-transform')`;
	-ms-transition: ~`"@{transition}".replace(/[\[\]]|\,\sX/g, '').replace('transform', '-ms-transform')`;
	-o-transition: ~`"@{transition}".replace(/[\[\]]|\,\sX/g, '').replace('transform', '-o-transform')`;
	transition: ~`"@{transition}".replace(/[\[\]]|\,\sX/g, '')`;
}

.transform-origin-properties(...) {
	-webkit-transform-origin: @arguments;
	-moz-transform-origin: @arguments;
	-ms-transform-origin: @arguments;
	-o-transform-origin: @arguments;
	transform-origin: @arguments;
}

.appearance-properties(...){
	-webkit-appearance: @arguments;
	-moz-appearance: @arguments;
	appearance: @arguments;
}

// THEME //

@themes: "light", "dark";

.with-theme(@rules) {
	// Loop through theme list
	.--(@i: length(@themes)) when (@i > 0) {
		& {
			@themeName: e(extract(@themes, @i));
			// Call .theme-helper(...) mixin for a single css property
			.theme-@{themeName} & {
				@prm: ~'theme-@{themeName}-primary';
				@prv: ~'theme-@{themeName}-primary_variant';
				@sec: ~'theme-@{themeName}-secondary';
				@acc: ~'theme-@{themeName}-accent';
				@psv: ~'theme-@{themeName}-passive';
				@hnt: ~'theme-@{themeName}-hint';
				@scs: ~'theme-@{themeName}-success';
				@err: ~'theme-@{themeName}-error';
				@sdw: ~'theme-@{themeName}-shadow';

				@primary: @@prm;
				@primary_variant: @@prv;
				@secondary: @@sec;
				@accent: @@acc;
				@passive: @@psv;
				@hint: @@hnt;
				@success: @@scs;
				@error: @@err;
				@shadow: @@sdw;

				@rules();
			}

			.--(@i: @i - 1);
		}
	}
	.--;
}
