body
{
	@main-color: #1b1b1b;
	@backgroud-color: #ffffff;
	@hint-color: #f2f4f8;
	@active-color: mediumaquamarine;
	@disactive-color: #eff0f2;
	@shadow-color: #6c6a74;

	@tabs-base-color: #8e44ad;

	.sell
	{
		.search-content
		{
			display: flex;
			width: 100%;
			margin-top: 30px;

			.tabs-control
			{
				display: flex;
				width: 100%;

				li
				{
					display: flex;
					width: 50%;
					flex-direction: column;

					&:last-child
					{
						& label
						{
							box-shadow: -3px 5px 5px 0 @shadow-color;
						}

						& :last-child
						{
							margin-left: -100%;
						}
					}

					&:first-child
					{
						& label
						{
							box-shadow: 3px 5px 5px 0 @shadow-color;
						}
					}

					input[type="radio"]
					{
						position: absolute;
						-webkit-appearance: none;
					}

					label
					{
						display: flex;
						align-items: center;
						margin: 0;
						padding: 15px 15px 10px 15px;
						font-size: 20px;
						font-weight: 600;
						text-transform: uppercase;
						color: @main-color;
						background: @disactive-color;
						cursor: pointer;
						position: relative;
						bottom: -5px;
						.transition-properties(all 0.2s ease-in-out);

						&:focus
						{
							top: 0;
							outline: none;
						}
					}

					[id^="tab"]:checked + label
					{
						bottom: 0;
						background: @main-color;
						color: @backgroud-color;
						z-index: 2;
					}

					[id^="tab"]:not(:checked) ~ label:hover
					{
						bottom: 0;
						transition: bottom 0.25s;
					}

					[id^="tab"]:checked ~ [id^="tab-content"]
					{
						bottom: 0;
						display: block;
					}

					.tab-content
					{
						z-index: 2;
						display: none;
						overflow: hidden;
						width: 200%;
						font-size: 17px;
						height: 350px;
						padding: 25px;
						left: 0;
						background: @backgroud-color;
						border-top: 3px solid @main-color;

						.row
						{
							display: flex;
							flex-direction: row;
						}

						.row:first-child //search panel
						{
							input
							{
								width: calc(100% - 250px);
								padding-left: 20px;
								border: none;
								border-bottom: 3px solid @main-color;
								border-top: 3px solid @main-color;
								border-radius: 0;
								background: inherit;
								outline: none;
								font-size: 20px;
							}

							span
							{
								display: flex;
								align-items: center;
								justify-content: center;
								width: 50px;
								margin: 0;
								background: transparent;
								border: 3px solid @main-color;
								border-right: none;

								svg
								{
									width: 28px;
									height: 28px;
								}

								&:hover path
								{
									fill: @backgroud-color;
								}
							}

							.list-select
							{
								width: 200px;
								background: @backgroud-color;
								border: 3px solid @main-color;

								.select-selected
								{
									padding-left: 20px;
								}
							}
						}

						.row:last-child //result table
						{
							.search-container
							{
								width: 100%;
								display: grid;
								grid-template-columns: auto auto auto;

								.search-item
								{
									background-color: rgba(255, 255, 255, 0.8);
									border: 1px solid rgba(0, 0, 0, 0.8);
									padding: 20px;
									font-size: 30px;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
}


	.transition-properties(...)
	{
		-webkit-transition: @arguments;
		-moz-transition: @arguments;
		-o-transition: @arguments;
		transition: @arguments;
	}
