<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewData["Title"] - web_app_service</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap4/bootstrap.min.css">
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="super_container">
        <header class="header">
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">Sneaker.</a></div>
                                <nav class="main_nav">
                                    <ul>
                                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Profile</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Products">Shop</a></li>
                                        <li class="hassubs">
                                            <a asp-area="" asp-controller="Sell" asp-action="AddProduct">Sell</a>
                                            <ul>
                                                <li><a asp-area="" asp-controller="Sell" asp-action="AddProduct">Create new product</a></li>
                                                <li><a asp-area="" asp-controller="Sell" asp-action="MyProducts">My products</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-area="" asp-controller="About" asp-action="About">About</a></li>
                                        <li><a asp-area="" asp-controller="Contact" asp-action="Contact">Contacts</a></li>
                                    </ul>
                                </nav>
                                <button class="button header-button" id="login-btn">
                                    <span>Login</span>
                                </button>
                                <button class="button header-button-strong" id="sign-up-btn">
                                    <span>Sing Up</span>
                                </button>
                                <div class="search">
                                    <img class="search_icon" src="~/images/search.svg" alt="" />
                                </div>
                                <div class="header_extra ml-auto">
                                    <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Panel -->
            <div class="search_panel trans_300">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="search_panel_content d-flex flex-row align-items-center justify-content-end">
                                <form action="#">
                                    <input type="text" class="search_input" placeholder="Search" required="required">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Menu -->
        <div class="menu menu_item trans_300">
            <div class="menu_container menu_item">
                <div class="page_menu_content menu_item">
                    <div class="page_menu_search menu_item">
                        <form action="#">
                            <input type="search" required="required" class="page_menu_search_input menu_item" placeholder="Search for products...">
                        </form>
                    </div>
                    <ul class="page_menu_nav menu_item">
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">Profile</a></li>
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Shop" asp-action="Products">Shop</a></li>
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Sell" asp-action="AddProduct">Sell</a></li>
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                        <li class="page_menu_item menu_item"><a asp-area="" asp-controller="Contact" asp-action="Contact">Contacts</a></li>
                    </ul>
                </div>
            </div>

            <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

            <div class="menu_social">
                <ul>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="15" height="15" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path id="facebook-logo-path" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6c44.2 0 82.1 3.3 93.2 4.8v107.9z" fill="white" /></svg>

        <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg login-dialog">
                <div id="login-content" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close-button" data-dismiss="modal"></button>
                        <p class="login-title" id="login-title">Create an Account</p>
                        <p class="login-message" id="login-header-msg">By creating an account you'll be able to buy, sell, comment, and more</p>
                    </div>
                    <div class="modal-body">
                        <a class="button login-button facebook" id="facebook-btn" asp-controller="Auth" asp-action="Facebook">
                            <svg class="facebook-logo" focusable="false" width="15" height="15" viewBox="0 0 1024 1024"><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6c44.2 0 82.1 3.3 93.2 4.8v107.9z" fill="white" /></svg>
                            <span id="facebook-btn-caption">Sign up with Facebook</span>
                        </a>
                        <a class="button login-button google" id="google-btn" asp-controller="Auth" asp-action="Google">
                            <svg class="google-logo" aria-hidden="true" focusable="false" width="15" height="15" viewBox="0 0 48 48"><path fill="#FFC107" d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917z" /><path fill="#FF3D00" d="M6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691z" /><path fill="#4CAF50" d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.91 11.91 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44z" /><path fill="#1976D2" d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917z"/></svg>
                            <span id="google-btn-caption">Sign up with Google</span>
                        </a>
                        <hr>
                        <button class="button login-button" id="email-btn"><span id="email-btn-caption">Sign up with Email</span></button>
                    </div>
                    <div class="modal-footer">
                        <p class="login-message" id="login-footer-msg">
                            Already have an account? <a>Log in</a>
                        </p>
                        <p class="login-privacy" id="login-privacy">
                            By creating an account, I accept Sneaker's
                            <a asp-controller="Home" asp-action="Privacy">Terms of Services</a>
                            and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
                        </p>
                    </div>
                </div>
                <div id="auth-content" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <p class="login-title" id="auth-title">Create an Account</p>
                    </div>
                    <div class="modal-body">
                        <form id="auth-form" class="auth-form">
                            <div class="auth-input">
                                <label for="email-input">Email Address</label>
                                <input type="email" id="email-input" class="email-input" required="required">
                            </div>
                            <div class="auth-input">
                                <label for="password-input">Password</label>
                                <input type="password" id="password-input" class="password-input" required="required">
                            </div>
                            <div class="notify-input" id="notify-footer-msg">
                                <input type="checkbox" id="notification-checkbox" name="regular_checkbox" class="regular_checkbox">
                                <label for="notification-checkbox" class="checkbox_title">Sign up for emails from Sneaker.</label>
                            </div>
                            <button class="button login-button auth-button" id="auth-btn"><span id="auth-btn-caption">Sign up</span></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p class="login-message" id="auth-footer-msg">
                            <a>Forgot your password?</a>
                        </p>
                        <p class="login-privacy" id="auth-privacy">
                            By creating an account, I accept Sneaker's
                            <a asp-controller="Home" asp-action="Privacy">Terms of Services</a>
                            and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/css/bootstrap4/popper.js"></script>
    <script src="~/css/bootstrap4/bootstrap.min.js"></script>
    <script src="~/lib/greensock/TweenMax.min.js"></script>
    <script src="~/lib/greensock/TimelineMax.min.js"></script>
    <script src="~/lib/greensock/animation.gsap.min.js"></script>
    <script src="~/lib/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/easing/easing.js"></script>
    <script src="~/lib/parallax-js-master/parallax.min.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/service.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(".facebook-logo-svg").html('<path class="facebook" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6c44.2 0 82.1 3.3 93.2 4.8v107.9z" fill="white"/>')
    </script>

<div class="footer_overlay"></div>
    <footer class="footer">
        @*<div class="footer_background" style="background-image: url(/images/footer.jpeg)"></div>*@
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                        <div class="footer_logo"><a href="#">Sneaker.</a></div>
                        <div class="copyright ml-auto mr-auto">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                        </div>
                        <div class="footer_social ml-lg-auto">
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>