/*
 Kicksware.com

 @author Timothy Yalugin

 @version 0.1
*/

// COLORS //
@import "../properties/colors";

// FONTS //
@import "../properties/fonts";

// MIXINS
@import "../mixins/mixins";

// GENERAL TAGS //
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: Oxanium, sans-serif;
	font-size: 18px;
	font-weight: 400;
	.with-theme({
		background: @primary;
		color: @secondary;
	});
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

p {
	font-family: "Oxanium", sans-serif;
	font-size: 18px;
	line-height: 2.14;
	font-weight: 400;
	.with-theme({ color: @secondary; });
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	.with-theme({
		color: @secondary;
		border-bottom: solid 1px @accent;
	});
	.transition-properties(all 200ms ease);
}

p:last-of-type {
	margin-bottom: 0;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	.with-theme({ color: @accent; });
}

p a:hover {
	.with-theme({
		color: @primary !important;
		background: @accent;
	});

}

p a:hover::after {
	opacity: 0.2;
}

button {
	border: none;

	&:focus {
		outline: none;
	}
}

h1 { font-size: 48px; }

h2 { font-size: 36px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

label {
	font-size: 14px;
	font-weight: 500;
	.with-theme({
		color: @passive;
	});
}

input {
	.with-theme({
		background: @hint;
		color: @secondary;
	});

	&[type="number"]::-webkit-outer-spin-button,
	&[type="number"]::-webkit-inner-spin-button {
		margin-right: 10px;
	}
}

textarea {
	.with-theme({
		background: @hint;
		color: @secondary;
	});
}



// GENERAL CLASSES //
.float_left { float: left; }

.float_right { float: right; }

.trans_200 { .transition-properties(all 200ms ease); }

.trans_300 { .transition-properties(all 300ms ease); }

.trans_400 { .transition-properties(all 400ms ease); }

.trans_500 { .transition-properties(all 500ms ease); }

.clear {
	clear: both;
}

.clearfix {
	zoom: 1;

	&::before, .clearfix::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.super_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}
.super_container.theme-light{
	background: @theme-light-primary;
}
.super_container.theme-dark{
	background: @theme-dark-primary;
}

.page-content {
	flex: 1;
	.with-theme({
		background: @primary;
		box-shadow: 0 6px 15px -8px @shadow;
	});
	z-index: 2;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.button {
	width: 178px;
	height: 61px;
	text-align: center;
	.with-theme({
		background: @hint;
		border: 2.8px solid @secondary;
	});
	overflow: hidden;
	cursor: pointer;

	a {
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: 600;
		line-height: 57px;
		.with-theme({
			color: @secondary;
		});
		background: none;
		z-index: 1;
		.transition-properties(all 200ms ease);
	}

	&:hover a {
		.with-theme({
			color: @primary;
		});
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		.with-theme({
			background: @secondary;
		});
		z-index: 0;
		opacity: 0;
		.transfosition-properties(
			rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0),
			transform 300ms opacity 300ms background 300ms
		);
		.transform-origin-properties(0 100%);
	}

	&:hover::after {
		opacity: 1;
		.transform-properties(rotate3d(0, 0, 1, 0deg));
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
}

.button_light {
	.with-theme({
		border: 3px solid @primary;
		background: transparent;
	});

	a {
		.with-theme({
			color: @primary;
		});
		position: relative;
		z-index: 1;
	}

	&:after {
		.with-theme({
			background: @primary;
		});
	}

	&:hover a {
		.with-theme({
			color: @secondary;
		});
	}
}

.close-button {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	border: none;
	outline: none;
	margin: -50px;
	background: transparent;

	&:hover {
		opacity: 1;
		background: none;
	}

	&:before, &:after {
		content: " ";
		position: absolute;
		height: 33px;
		width: 2px;
		.with-theme({ background: @passive; });
		top: 0;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

.hassubs {
	ul {
		position: absolute;
		right: -15px;
		top: calc(~"100% + 20px");
		width: 230px;
		text-align: right;
		padding: 20px 25px;
		visibility: hidden;
		opacity: 0;
		.transition-properties(all 200ms ease);
		.with-theme({
			background: fade(@primary, 95%);
			box-shadow: -1px 10px 10px -3px @shadow;
		});

		li:not(:last-child) {
			margin-bottom: 10px;
		}

		li a {
			font-size: 18px;
			font-weight: 600;
			color: #767676;
			padding: 0 5px 2px 5px;
			.transition-properties(all 200ms ease);
		}

		li a:hover {
			.with-theme({
				color: @secondary;
			});
		}
	}

	&:hover ul {
		visibility: visible;
		opacity: 1;
		top: calc(~"100%");
	}
}

// THEME TAGS //
.theme-bg-primary {
	.with-theme({
		background: @primary;
	});
}

.theme-bg-secondary {
	.with-theme({
		background: @secondary;
	});
}

.theme-fg-primary {
	.with-theme({
		color: @primary;
	});
}

.theme-fg-secondary {
	.with-theme({
		color: @secondary;
	});
}